{% extends "structure.html" %}
{% block title %}Book Detail{% endblock title %}
{% block css %}
  label{
    font-weight:800;
    color:#0c096b;
  }
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.1rem); /
    }
  }

  .download-btn {
    animation: moveUpDown 2s infinite; 
    cursor: pointer;
  }
  figure:hover{
    opacity:0.9;
    border-radius:1.1rem;
    box-shadow:10px 10px 10px #ccc;
  }
  figure img{
    border-radius:1rem;
  }
{% endblock css %}
{% block body %}
<div class="container pt-4 d-flex flex-wrap justify-content-around">
    <div class="img">
        <figure>
            <a href="/media/{{data.bookfile}}" target="_blank" ><img src="/media/{{data.bookcover}}" style="width: 28rem;"></a>
        </figure>
    </div>

    <div class="detail">
        <div class="">
            <div class="d-flex flex-wrap">
                <div class="form-group ">
                    <label for=""> Book Title </label>
                    <input type="text" value="{{data.booktitle}}" class="form-control" placeholder="Book Title" readonly />
                </div>
                <div class="form-group mx-1">
                    <label for="">Author Name</label>
                    <input type="text" class="form-control" value="{{data.authorname}}" placeholder="Author Name" readonly />
                </div>
            </div>

            <div class="form-group col-md-14">
                <label for="">Book Description</label>
                <textarea type="text" class="form-control"
                    placeholder="Book Description" readonly>{{data.bookdescription}}</textarea>
            </div>

            <div class="form-group ">
                <label for="">Catagory</label>
                <br>
                <input type="text" class="form-control" value="{{data.catagory}}"readonly/>
            </div>
            <div class="form-group col-md-14">
                <label for="">Language</label>
                <input type="text" class="form-control" name="language" placeholder="Language"
                    value="{{data.language}}" readonly />
            </div>
            <div class="form-group col-md-14">
                <label for="">Keyword</label>
                <input type="text" class="form-control" placeholder="Keyword" value="{{data.keyword}}" readonly />
            </div>
            <div class="form-group">
                <a href="download-book" class="btn " style="color: #0c096b; background-color: #DE68D2; font-weight: 600;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download-fill download-btn" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
                  </svg> Download Book</a>
                
            </div>

            <div class="form-group">
                
            </div>

        </div>
    </div>
</div>
{% endblock body %}