{% extends "structure.html" %}
{% block title %}Top Trending{% endblock title %}
{% block body %}
<div class="container-fluid" style="background-color: #f5f2f2;">
    <h1 class="font-weight-bold text-center" style="color: #0c096b; padding-top: 5rem;">Trending Books</h1>
    <div class="container">
      <hr>
      <div class="d-flex " style="margin-left: 4rem; margin-top: 4rem;">
        {% for i in data %}
          <div class="card m-4" style="width: 18rem;">
            <img class="card-img-top" src= "media/{{i.bookcover}}" style="height:18rem;">
            <div class="card-body">
              <h5 class="card-title">{{i.booktitle}}</h5>
              <p class="card-text">{{i.bookdescription|linebreaksbr}}</p>
              <a href="all-books/detail{{i.id}}" style="background-color:#0c096b; color:white;" class="btn">Preview Book Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
  
  </div>
{% endblock body %}